<div class="container">
  <form class="new-task">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" name="title" [(ngModel)]="newTask.title" [disabled]="isProcessing" />
        <mat-hint>At least 1 character</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput
               [matDatepicker]="deadlinePicker"
               type="date"
               id="deadline"
               name="title"
               [(ngModel)]="newTask.deadline"
               [disabled]="isProcessing" />
        <mat-datepicker-toggle matIconSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
        <mat-hint>Date is optional</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button
        type="button"
        mat-raised-button
        color="accent"
        class="btn btn-primary"
        (click)="addTask()"
        [disabled]="canAddTask()"
      >
        {{isProcessing ? 'Processing...' : 'Add Task'}}
      </button>
    </div>
  </form>

  <div class="tasks">
    <mat-card [class.completed]="task.completed" *ngFor="let task of tasks" >
      <mat-card-header>
        <mat-card-subtitle *ngIf="task.deadline">{{ task.deadline | date: 'yyyy-MM-dd' }}</mat-card-subtitle>
        <mat-card-title>{{ task.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <div class="actions">
          <mat-checkbox [(ngModel)]="task.completed" (change)="handleChange(task)" />
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <button
    mat-raised-button
    color="accent"
    [disabled]="!canArchiveCompleted()"
    (click)="archiveCompleted()"
  >
    Archive Completed
  </button>
</div>
